

// Inputs
.input(@color, @bg, @letter-spacing, @fz, @padding, @input-line-height, @border, @border-radius) {
    color: @color;
    font-size: @fz;
    letter-spacing: @letter-spacing;
    padding: @padding;
    background: @bg;
    line-height: @input-line-height;
    border: @border;
    border-radius: @border-radius;
}

// input primary
.input-primary {
    .input(@input-primary-color, @input-primary-background, @input-primary-letter-spacing, @input-primary-fz, @input-primary-padding, @input-primary-line-height, @input-primary-border, @input-primary-border-radius);
}

//
// Buttons
//--------------------------------------------------------
.button(@color, @bg, @hover-color, @hover-bg) {
    color: @color;
    font-size: 14px;
    letter-spacing: 0.3px;
    display: inline-block;
    font-weight: @font-weight__bold;
    line-height: @btn-line-height;
    border: 1px solid @color-secondary;
    padding: @btn-padding;
    background: @bg;

    &:hover {
        background: @hover-bg;
        color: @hover-color;
    }
}

//
//Button-primary
//-------------------------------------

.btn-primary {
    .button(@btn-primary-color, @btn-primary-background, @btn-primary-hover-color, @btn-primary-hover-background)
}

//
//Button-secondary
//-------------------------------------

.btn-secondary {
    .button(@btn-secondary-color, @btn-secondary-background, @btn-secondary-hover-color, @btn-secondary-hover-background)
}

//
// Grid
//------------------------------------------------------------------
.grid(@num-col, @space-row, @space-col) {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(@num-col, 1fr);
    grid-gap: @space-row @space-col;
}

//
// Flex
//----------------------------------------------------------

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


//
// Headings
//-------------------------------------------------------------------

.heading(@fz, @fw, @lh, @color) {
    font-size: @fz;
    font-weight: @fw;
    line-height: @lh;
    color: @color;
}

//h2
//-----------------------------------------

.h2 {
    .heading(@font-size__h2, @font-weight__bold, @line-height__h2, @text-color__heading);
}

//h3
//--------------------------------

.h3 {
    .heading(@font-size__h3, @font-weight__bold, @line-height__h3, @text-color__heading);
}


//h6
//------------------------------

.h6 {
    .heading(@font-size__h6, @font-weight__bold, @line-height__h6, @text-color__heading);
}

//
// Desc
//----------------------------------

.desc(@fz, @lh, @letter-spacing) {
    font-size: @fz;
    font-weight: @font-weight-primary;
    color: @text-color__base;
    line-height: @lh;
    letter-spacing: @letter-spacing;
}

.desc-primary {
    .desc(@font-size-primary, @line-height-primary, @letter-spacing-primary);
}

.desc-secondary {
    .desc(@font-size-secondary, @line-height-secondary, @letter-spacing-secondary);
}

//
// links
//-----------------------------------

.link(@fz, @fw, @lh, @letter-spacing, @color) {
    font-size: @fz;
    font-weight: @fw;
    line-height: @lh;
    letter-spacing: @letter-spacing;
    color: @color;

    &:hover {
        text-decoration: underline;
    }
}

.link-secondary {
    .link(@font-size-secondary, @font-weight-secondary, @line-height__medium, @letter-spacing__m, @color-black);
}

.link-primary {
    .link(@font-size__l, @font-weight__bold, @line-height__medium, @letter-spacing__l, @color-primary);
}

//
// Container body
//----------------------------------------------
.container {
    max-width: 1110px;
    margin: auto;
}