//===========================Variables==============================
@import "./Variables.less";

//===========================Mixins==============================
@import "./Mixin.less";




@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@main-font : 'Mulish',
sans-serif;

body {
  font-family: @main-font;
}

// section header
//-----------------------------------------

header {
  background: #EBEBEB;
  padding: 23px 0;
}

header ul {
  .flex;
  .container;
}

header .middle li {
  margin-left: 32px;

  a {
    .link-secondary();
  }
}

header .right li:first-child a {
  .btn-secondary();
  background: none;
  border: none;

  &:hover {
    background: #3C64B1;
  }
}

header .right li:last-child a {
  .btn-primary();
  margin-left: 10px;
}

// section banner
//-----------------------------------------

.banner img {
  position: relative;
}

.banner__inner {
  .container;
  position: absolute;
  left: calc(50% - 730px/2);
  top: 168px;
  text-align: center;
  max-width: 730px;
}

.banner ul {
  .flex;
  justify-content: center;
}

.banner ul li {
  margin-right: 20px;
}

.banner h2 {
  .h2;
}

.banner p {
  .desc-primary();
}

.shipping {
  .container;
  text-align: center;
}

.shipping h6 {
  margin: 24px 0 0 0;
}

.shipping p {
  .desc-primary()
}

.shipping ul {
  .grid(3, 0, 30px);

  p {
    .desc-secondary();
  }
}

// section Form
//-----------------------------------------
.form {
  .container;
}

.form ul {
  .grid(2, 0, 30px);
  text-align: left;
}

.form h3 {
  .h3;
}

.form ul button {
  .btn-primary;
}

.form p {
  .desc-primary();
}

.form .click {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
}

.form input {
  .input-primary();
  max-width: 300px;
  width: 100%;
}


// Section Grid-content
//------------------------------------------------------

.grid-content {
  margin-top: 80px;
  .container;
}

.grid-content ul {
  .grid(4, 0, 30px);
  margin-top: 50px;
}

.grid-content ul li:first-child h6 {
  padding-bottom: 50px;
}

.grid-content h6 {
  margin: 32px 0 12px 0;
}

.grid-content p {
  .desc-secondary();
}

// responsive moblie
//---------------------------------------------