//
// import mixin
//--------------------------------------------------

@import "./Mixin.less";


.wrapper {
  max-width: 1110px;
  margin: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@main-font : 'Mulish',
sans-serif;

body {
  font-family: @main-font;
  font-size: 14px;
}

// section header
//-----------------------------------------

.header {
  background: #EBEBEB;
  padding: 23px 0;
}

.header .middle li {
  margin-left: 32px;
}

.header .right li:first-child a{
background: none;
border: none;
}

// section banner
//-----------------------------------------

.banner {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

.banner__inner {
  margin: auto;
  width: 730px;
  text-align: center;
}

.banner ul {
  justify-content: center;
}

.banner ul li {
  margin-right: 20px; 
}

.banner p {
  .desc(16px, 400, #737B7D, 22px, center, 0px 0 56px, 0.3px);
} 
.shipping {
  text-align: center;
}

.shipping h6 {
  margin: 24px 0 0 0;
}

.shipping p {
  .desc(16px, 400, #737B7D, 22px, center, 24px 0px, 0.3px);
}

.shipping__desc p {
  .desc(14px, 400, #737B7D, 22px, center, 12px 0 22px 0, 0.2px);
}

// section Form
//-----------------------------------------

.form p {
  .desc(16px, 400, #737B7D, 22px, none, 24px 0px, 0.1px);
}

.form .click {
  .desc(12px, 600, #737B7D, 16px, none, 16px 0px, 0.2px);
}

.form input {
  .input-primary();
  max-width: 300px;
  width: 100%;
}


// Section Grid-content
//------------------------------------------------------


.grid-content {
  margin-top: 80px;

  &__inner {
    display: flex;

    &-box {
      margin-right: 30px;
      text-align: center;
    }
  }
}

.grid-content h6 {
  margin: 32px 0 12px 0;
}

.grid-content p {
  .desc(14px, 400, #737B7D, 20px, center, 0px, 0.2px);
}

// responsive moblie
//----------------------------------------------
@media (min-width: 320px) and (max-width: 629px) {
  .wrapper {
    max-width: 310px;
  }


  .banner {
    &__inner {
      padding: 40px 0;

      h2 {
        font-size: 25px;
      }

      p {
        margin-bottom: 20px;
      }

      &-button {
        ul {
          li {
            padding: 5px 10px;
          }
        }
      }
    }
  }

  .shipping {
    .shipping__intro &-title {
      font-size: 20px;
    }

    .shipping__desc {
      .grid(1, 0, 20px);
    }

  }

  .form {
    text-align: center;

    &__box {
      padding-top: 0px;
      margin: auto;
      .grid(1, 0, 0);

      &-img,
      &-img:first-child {
        margin-right: 0;

        img {
          max-width: 100%;
        }
      }

      &-content {
        margin-right: auto;

        form {
          input {
            margin-right: 0;
            max-width: 40%;
          }

          button {
            padding: 12px 10px;
          }
        }

        &-grid:last-child {
          margin: auto;
          .grid(1, 0, 0);

          &-small {
            margin-right: 0;
            margin: auto;
          }
        }
      }

      &-content:nth-last-child(2) {
        margin-right: 0;

        .desc .small-box:first-child {
          margin-right: auto;

        }

      }
    }
  }

  .grid-content {
    .grid-content__inner {
      text-align: center;
      .grid(1, 0, 20px);
    }
  }

}


// responsive table
//------------------------------------------------
@media (min-width: 630px) and (max-width: 768px) {
  .grid-content {
    &__inner {
      .grid(1, 0, 0);
    }
  }

  .form {
    &__box {
      .grid(1, 0, 0);
      text-align: center;

      &-img:first-child {
        margin-right: 0;
      }
    }
  }
}