// ==============variable=========================

// Colors
//-----------------------------------------------

@color-white: #fff;
@color-blue: #3C64B1;
@color-blue-light: #18A0FB;
@color-black: #373F41;
@color-gray: #737B7D;
@color-gray-light: #F3F6FA;
@color-gray-secondary: #F4F5F4;

@color-primary: @color-white;
@color-secondary: @color-blue;

// Font Size
// -----------------------------------------------

@font-size-12px: 12px;
@font-size-14px: 14px;
@font-size-16px: 16px;
@font-size-18px: 18px;
@font-size-32px: 32px;
@font-size-44px: 44px;


// Font Weight
//------------------------------------------------

@font-weight-400: 400;
@font-weight-600: 600;
@font-weight-700: 700;

@font-weight-primary: @font-weight-700;


// Line Height
//------------------------------------------------

@line-height-14px: 14px;
@line-height-16px: 16px;
@line-height-18px: 18px;
@line-height-20px: 20px;
@line-height-22px: 22px;
@line-height-24px: 24px;
@line-height-40px: 40px;
@line-height-56px: 56px;


// buttons
// --------------------------------------------------


@btn-padding: 12px 18px;
@btn-line-height: @line-height-18px;

@btn-primary-color: @color-primary;
@btn-primary-background: @color-blue;
@btn-primary-hover-color: @color-black;
@btn-primary-hover-background: @color-blue-light;

@btn-secondary-color: @color-secondary;
@btn-secondary-background: @color-white;
@btn-secondary-hover-color: @color-white;
@btn-secondary-hover-background: @color-blue;

// Input
//-------------------------------------------------

@input-primary-padding: 11px 16px;
@input-line-height: @line-height-20px;
@input-primary-color: @color-gray;
@input-primary-background: @color-gray-secondary;
@input-letter-spacing: 0.2px;
@input-fz: @line-height-14px;
@input-border: none;
@input-border-radius: none;


// Margin 

@margin-x24-0: 24px 0;
@margin-x12-0: 12px 0;
@margin-x32-y0: 32px 0;

//letter-spacing

@letter-spacing01: 0.1px;
@letter-spacing02: 0.2px;
@letter-spacing03: 0.3px;



